.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative; 
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg');

}

.header-main-container{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -30px; 
  margin-bottom: -30px;
  width: 100%;
  margin: 2em auto;
/* padding: 1em; */
}

.netflix-logo{
  background-image: url("https://raw.githubusercontent.com/Rahul-Vijay/Netflix-clone/main/images/netflix-logo.png");
  height: 100px;
  background-size: cover;
  width: 180px;
  background-repeat: no-repeat;
}

.signinbutton-container{
  padding-top: 35px;
  padding-right: 44px;
}
.signin-button{ 
  background-color: #e50914;
  padding: 8px 18px;
  font-weight: 400;
  border-radius: 5px;
}

a { color: white;
  text-decoration: none;
 }


 .sub-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 }


 .content1{
   color: white;
   font-weight: 600;
   font-size: 4em;
 }
 .content2{
   color: white;
   font-size: 1.5em;
   font-weight: 500;
 }
 .content3{
   color: white;
   font-weight: 400;
   font-size: 1.2em;
   text-align: center;
 }
 .get-started-button{
  background-color: #e50914;
  padding: 20px 70px;
  font-weight: 400;
  font-size: 1.5em;

 }

 .email-text{
  padding:25px 170px;

 }


.child-card-container{
  display: flex;
  height: 60vh;
  align-items: center;
  background: black;
  justify-content: space-evenly;
  border-top:8px solid dimgray;
  border-bottom:0.5px solid dimgray;

}

.card-image{
  height: 300px;
  width: 399px;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg");
}
.card-image1{
  height: 300px;
  width: 399px;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("https://occ-0-4610-3646.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf");
}

.faq-container{
  display: flex;
  height: 90vh;
  align-items: center;
  background: black;
  justify-content: space-evenly;
  border-top:8px solid dimgray;
  border-bottom:8px solid dimgray;
}


/* expansion panel  */
.header{
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 15px;
  background-color: grey;
  color: #FFF;
  font-family: verdana;
  margin-bottom: 10px;
  }
  .content{
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
  color: white;
  }

  .footer-container{
    display: flex;
    height: 50vh;
    align-items: center;
    background: black;
  }